<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rm.roaming.seller.mapper.SellerSqlMapper">
	<insert id="insertSeller">
		INSERT INTO seller VALUES(
			seller_seq.nextval,
			#{seller_name},
			#{seller_id},
			#{seller_pw},
			#{email},
			#{phone},
			SYSDATE
		)
	</insert>
	<select id="selectSellerByIdAndPw" resultType="com.rm.roaming.dto.SellerDto">
		SELECT * FROM seller WHERE seller_id= #{seller_id} AND seller_pw = #{seller_pw}
	</select>
	<select id="selectSellerCountByUserId" resultType="int">
		SELECT count(*) FROM seller WHERE seller_id = #{seller_id}
	</select>
	<select id="selectSellerIdById" resultType="com.rm.roaming.dto.SellerDto">
		SELECT * FROM seller WHERE seller_id = #{seller_id}
	</select>
	<select id="selectExistSeller" resultType="int">
		SELECT count(*) FROM seller where seller_id = #{seller_id} and seller_pw = #{seller_pw}
	</select>
</mapper>